<ion-header>
  <ion-toolbar>
    <ion-title>Doctors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-button expand="full" routerLink="/add-doctor">
    Add Doctor
  	</ion-button>
	<ion-list>
	    <ion-item >
	      <ion-avatar slot="start" >
	        <img src="../../assets/doc-avatar.jpg">
	      </ion-avatar>
	      <ion-label>
	        <h2>Dr. Prakash Roy</h2>
	        <p>Child Specialist</p>
	      </ion-label>
	      <p>Book </p> : ON
        <ion-icon name="create"></ion-icon>
	    </ion-item>
	    <ion-item >
	      <ion-avatar slot="start" >
	        <img src="../../assets/doc-avatar.jpg">
	      </ion-avatar>
	      <ion-label>
	        <h2>Dr. Hrisikesh Bagchi</h2>
	        <p>MD, General Physician</p>
	      </ion-label>
	      <p>Book </p> : ON
        <ion-icon name="create"></ion-icon>
	    </ion-item>
	    <ion-item >
	      <ion-avatar slot="start" >
	        <img src="../../assets/doc-avatar.jpg">
	      </ion-avatar>
	      <ion-label>
	        <h2>Dr. Prakash Roy</h2>
	        <p>Chid Specialist</p>
	      </ion-label>
	      <p>Book </p> : ON
        <ion-icon name="create"></ion-icon>
	    </ion-item>
  </ion-list>
</ion-content>
